<ion-header>
  <ion-navbar>
    <ion-title text-center>{{nomeCategoria}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content >
  <div *ngFor="let pizza of pizze">
  <ion-item >
    
      <h2>
        <b>{{pizza.nome}}</b>
          <img src="img/novita.png" width="40px" [hidden]="!pizza.novita">
         <img src="img/peperoncino.png" width="28px" [hidden]="!pizza.piccante">
      </h2>
      <h2 item-right>&euro; {{pizza.prezzo}}</h2>
      <ion-icon name="ios-add-circle-outline" color="secondary"  (click)="addPizza(pizza)" item-right></ion-icon>
      <ion-row align="justify" style="white-space: initial;">
          {{formatArray(pizza.ingredienti)}}
        <img src="img/freccia.png" width="10px" [hidden]="(!pizza.dopoCottura || pizza.dopoCottura.length==0)">
         {{formatArray(pizza.dopoCottura)}}
       </ion-row>
  </ion-item>
  <ion-item *ngFor="let p of pizzeNellOrdine(pizza)" text-center style="background-color: #f8f8f8">
    sfasdfasdfasdf
      {{getLabelModifichePizza(p)}}
  <ion-icon name="ios-create-outline" color="secondary"  (click)="modifyPizza(pizza)" item-right></ion-icon>
  <ion-icon name="ios-remove-circle-outline"  color="secondary"  (click)="removePizza(pizza)" item-left></ion-icon>
   
  </ion-item>
  
  
</div>
  
  
  
  
  <ion-item *ngFor="let pizza of pizze" style="padding-left:0px">
   <ion-row center>
     <ion-col width-90>
       <ion-grid>
       <ion-row center >
         <ion-col width-20 >
           <h2>
             <b>{{pizza.nome}}</b>
               <img src="img/novita.png" width="40px" [hidden]="!pizza.novita">
              <img src="img/peperoncino.png" width="28px" [hidden]="!pizza.piccante">
           </h2>
         </ion-col>
           <ion-col width-40 style="text-align: right;"> <h2>  &euro; {{pizza.prezzo}}</h2></ion-col>
       </ion-row>
       <ion-row >
         <ion-col width-100 >
           <div align="justify" style="white-space: initial;">
               {{formatArray(pizza.ingredienti)}}
             <img src="img/freccia.png" width="10px" [hidden]="(!pizza.dopoCottura || pizza.dopoCottura.length==0)">
              {{formatArray(pizza.dopoCottura)}}
         </div>
         
         </ion-col>
           
       </ion-row>
     </ion-grid>
     
     
     </ion-col>
     <ion-col width-10 style="text-align: right; padding-right: 15px"> <ion-icon color="secondary" name="ios-add-circle-outline" (click)="addPizza(pizza)"></ion-icon>
 </ion-col>
</ion-row>
  <ion-item *ngFor="let pizza of pizzeNellOrdine(pizza)" style="padding-left:0px">
<ion-row style="padding-left:10px" center style="background-color: #f8f8f8">
 <ion-col width-10 style="padding-left: 15px"> <ion-icon color="secondary" name="ios-remove-outline" (click)="removePizza(pizza)"></ion-icon> </ion-col>
  <ion-col width-80 text-center style="white-space: initial;font-size:14px" > {{pizza.nome}}
  
  {{getLabelModifichePizza(pizza)}}
  
  </ion-col>
   <ion-col width-10 style="text-align: right;padding-right: 15px">
   
   <ion-icon name="ios-create-outline" color="secondary" (click)="modifyPizza(pizza)"></ion-icon>
   </ion-col>
</ion-row>
   
  </ion-item>
</ion-item>


  <!-- <ion-list>
  <ion-list-header>
    Action
  </ion-list-header>
  

  
  
  
  
  
  <ion-item>The Empire Strikes Back</ion-item>
  <ion-item>Blade Runner</ion-item>
</ion-list> -->

</ion-content>
